<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>All Reviews - <%= foundBook.title %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <%- include("../partials/navbar") %>

  <div class="container mt-4">
    <div class="mt-4">
      <a href="/books/<%= foundBook._id %>" class="btn btn-outline-secondary">← Back to Book</a>
    </div> <br>
    <h2>All Reviews for "<%= foundBook.title %>"</h2> <br>

    

    <% if (reviews.length === 0) { %>
      <p class="text-muted mt-4">No reviews yet for this book.</p>
    <% } else { %>
      <% reviews.forEach(review => { %>
      <div class="card mb-3">
      <div class="card-body">
      <div class="d-flex justify-content-between align-items-start">
        
        <div class="d-flex">
          <img src="<%= review.userId.profilePic %>" alt="<%= review.userId.username %> profile picture" class="rounded-circle img-thumbnail me-2 review-profile-img">
          <div class="d-flex flex-column justify-content-center">
            <strong><%= review.userId.name %></strong>
            <span class="text-muted small">@<%= review.userId.username %></span>
          </div>
        </div>
        <small class="text-muted"><%= new Date(review.createdAt).toLocaleDateString() %></small>
      </div>
      <div class="mt-2">
        <% for (let i = 1; i <= 5; i++) { %>
          <span class="star"><%= i <= review.rating ? '★' : '☆' %></span>
        <% } %>
      </div>
      <p class="mt-2"><%= review.comment %></p>
    </div>
  </div>
<% }) %>

<% } %>

</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>
