<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Books</title>
</head>
<body>
    <%- include("../partials/navbar") %>
    <h1>Browse Books</h1>

    <div class="books-container">
    <% if (books.length === 0) { %>
      <p>No books found</p>
    <% } else { %>
      <% books.forEach(book => { %>
        <div class="book-card">
          <img src="<%= book.BookImage %>" alt="<%= book.title %> Book Cover" class="book-image" />
          <h3 class="book-title"><%= book.title %></h3>
          <p class="book-author">By <%= book.authorId.name || book.authorId.username %></p>
          <p class="book-genre"><%= book.genre %></p>
          <a href="/books/<%= book._id %>">View</a>
        </div>
      <% }) %>
    <% } %>
    </div>

</body>
</html>