<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Edit Book</title>
</head>

<body>
    <%- include("../partials/navbar") %>
    <h1>Edit Book</h1>

    <% if (error) { %>
        <p style="color: red;">
            <%= error %>
        </p>        
    <% } %>

    <form action="/books/<%= book._id %>?_method=put" method="post" enctype="multipart/form-data">
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="title" value="<%= foundBook.title %>"><br>

        <label for="description">Description:</label><br>
        <textarea name="description" id="description"><%= foundBook.description %></textarea><br>

        <label for="yearOfPublication">Year of Publication:</label><br>
        <input type="number" name="yearOfPublication" id="yearOfPublication" value="<%= foundBook.yearOfPublication %>"><br>

        <label for="genre">Genre:</label><br>
        <select name="genre" id="genre">
            <option value="">Select Genre</option>
            <% genres.forEach(oneGenre => { %>
                <option value="<%= oneGenre %>" <%=foundBook.genre === oneGenre ? "selected" : "" %>><%= oneGenre %><option>
            <% }) %>
        </select><br>

        <label>Current Cover:</label><br>
        <% if (foundBook.BookImage) { %>
        <img src="<%= foundBook.BookImage %>" alt="Current Cover" style="height: 150px;"><br>
        <% } %>

        <label for="bookImage">Change Cover:</label><br>
        <input type="file" name="bookImage" id="bookImage"><br><br>

        <button type="submit">Update Book</button>
    </form>

</body>

</html>