<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
</head>
<body>
<%- include("../partials/navbar") %>

<div class="container mt-5">
  <h2>Edit Profile</h2>

  <form action="/users/profile/edit?_method=put" method="post" enctype="multipart/form-data">
    
    <div class="mb-3">
      <label for="profilePic">Current Profile Picture</label><br>
      <img src="<%= user.profilePic || '/images/default-profile-img.jpg' %>" width="120" class="rounded mb-2"><br>
      <input type="file" name="profilePic">
      <div>
        <input type="checkbox" name="removePic" value="true" id="removePic">
        <label for="removePic">Remove current profile picture</label>
      </div>
    </div>

    <div class="mb-3">
      <label>Name</label><br>
      <input type="text" name="name" value="<%= user.name %>">

      <% if (errorMessages && errorMessages.name) { %>
        <p class="error"><%= errorMessages.name %></p>
      <% } %>
    </div>

    <div class="mb-3">
      <label>Username</label><br>
      <input type="text" name="username" value="<%= user.username %>">

      <% if (errorMessages && errorMessages.username) { %>
        <p class="error"><%= errorMessages.username %></p>
      <% } %>
    </div>

    <div class="mb-3">
      <label>Email</label><br>
      <input type="email" name="email" value="<%= user.email %>">
      <% if (errorMessages && errorMessages.email) { %>
        <p class="error"><%= errorMessages.email %></p>
      <% } %>
    </div>

    <hr>
    <h4>Change Password</h4>

    <div class="mb-3">
      <label>Current Password</label><br>
      <input type="password" name="currentPassword">
      <% if (errorMessages && errorMessages.currentPassword) { %>
        <p class="error"><%= errorMessages.currentPassword %></p>
      <% } %>
    </div>

    <div class="mb-3">
      <label>New Password</label><br>
      <input type="password" name="newPassword">
      <% if (passwordErrors && passwordErrors.length > 0) { %>
        <% passwordErrors.forEach(err => { %>
          <p class="error"><%= err %></p>
        <% }) %>
      <% } %>
    </div>

    <button type="submit">Save Changes</button>
    <a href="/users/profile">Cancel</a>
  </form>
</div>

 <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>